[Unit]
Description=VirtualBox guest additions
After=local-fs.target vboxguest.service
Wants=local-fs.target vboxguest.service

[Service]
Type=simple
ExecStart=/etc/cernvm/service.d/vboxguest-daemon

[Install]
WantedBy=multi-user.target

