[Unit]
Description=VirtualBox guest additions
After=local-fs.target vboxguest
Wants=local-fs.target vboxguest

[Service]
Type=forking
ExecStart=/etc/cernvm/service.d/vboxguest-daemon

[Install]
WantedBy=multi-user.target

