[Unit]
Description=Write release information to /etc/issue
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/etc/cernvm/service.d/cernvm-release
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=multi-user.target
